/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility */
.debug {
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: red; */
    border: 1px solid blue;
}
/* General */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* Nav */
nav  {
    width: 100%;
    position: fixed;
    background-color: lightgrey;
}
nav ul {
    text-align: right;
}
nav ul li{
    width: 50px;
    height: 50px;
    display: inline-block;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
}
a {
    background-color: white;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: darkorange;
    color: white;
}

/* Main */
main {
    height: 100vh;
}
/* Level */
section {
    height: 100vh;
    padding: 100px;
}

#level-01{
    background-color: red;
}
#level-02{
    background-color: green;
}
#level-03{
    background-color: yellow;
}