/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility */
.debug {
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: red; */
    border: 1px solid blue;
}
/* General */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik Mono One', sans-serif;
}
/* Header */
header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
/* Nav */
nav  {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    color: black;
    z-index: 1000;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: #04102E;
    border-radius: 50%;
    overflow: hidden;
}
li a {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #04102E;
}
a:hover {
    width: 100%;
    height: 100%;
    background-color: violet;
    color: white;
}

/* Main */

/* Shoes */
.container {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#shoes-01{
    background-color: red;
    color: yellow;

}
#shoes-02{
    background-color: green;
}
#shoes-03{
    background-color: yellow;
}
h2{
    width: 400px;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 200;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    


}